<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>Login</title>

  <link rel="stylesheet" href="login.css"></head>

  <script src="login.js"></script>

<center>
<form action="" onsubmit="login();return false;">
  <h2>Login</h2>

    <br>

    <div class="inputLineWidth">
    <input type="text" placeholder="Username" name="psw-repeat">

    <br><br>

    <input type="text" placeholder="Password" name="psw-repeat"><br><br>


    <p> <a href="/signup.html" style="color:white">Sign Up</a>.</p>

    <center><button class="button" style="vertical-align:middle"><span>Login </span></button></center>
</form>
</center>

</html>
