<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Messages</title>

    <!-- Bootstrap CSS and fa-icon -->
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="/include/fontawesome/css/all.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="/messages.css" >

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/include/jquery.min.js"></script>
    <script src="/include/bootstrap.js"></script>
    <script src="/include/popper.min.js"></script>

    <title>&#127345;iazza</title>
  </head>
  <body>
    
    <div class="wrapper">

        <div class="sidebar p-2 bg-light overflow-auto border-left">
            
            <div class="sidebar-heading m-3 border-bottom">
                <h2>Messages</h2>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="messages-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

            <div>
                <ul id="chatsList" class="list-unstyled components">

                    <li class="my-3 py-1 border-top border-bottom">
                        <div class="message-container container">
                            <div class="row">
                                <div class="col-9">
                                    <h5>Alice Doe</h5>
                                </div>
                                <div class="col-3">
                                    <p>3/9/20</p>
                                </div>
                                <div class="col-12">
                                    <p>Hey Alice. Nothing much, I've just been...</p>
                                </div>
                            </div>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="content card rounded-0">
            <!-- <div class="card-header bg-light">
                <p>stuff</p>
            </div> -->

            <div class="card-body container scroll-view">
                <div class="d-flex justify-content-begin align-items-center">
                    <div class="message bg-light border border-dark rounded-top rounded-right mb-3 p-3">
                        <h6>Alice Doe</h6>
                        <div>Hi Barry! What's up?</div>
                        <small>3/9/20 1:00 p.m.</small>
                    </div>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <div class="message bg-primary border rounded-top rounded-left mb-3 p-3 text-light">
                        <div>Hey Alice. Nothing much, I've just been working on the messages page.</div>
                        <small>3/9/20 1:10 p.m.</small>
                    </div>
                </div>

                
            </div>

            <div class="card-footer bg-light">
                <div class="input-group">
                    <input type="text" class="form-control mr-3 rounded" placeholder="Message...">
                    <div class="input-group-append my-auto">
                        <button class="btn btn-ico btn-outline-primary rounded-circle" id="messages-search">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </body>
</html>