<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Messages</title>

    <!-- Bootstrap CSS and fa-icon -->
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="/include/fontawesome/css/all.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="/messages.css" >
    
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/include/jquery.min.js"></script>
    <script src="/include/bootstrap.js"></script>
    <script src="/include/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <title>&#127345;iazza</title>
  </head>
  <body>

    <!-- Modal for creating a new conversation-->

    <div class="modal" tabindex="-1" role="dialog" id="conversation-start-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Select a person to start a private conversation with them. The person must have a <b>Biazza Account</b>.</p>
                <div class="list-group">
                {% for user in potential_conversation_users %}
                    <a user_id="{{ user.id|e }}" class="list-group-item list-group-item-action text-center conversation-start-user">{{ user.first_name|e }} {{ user.last_name|e }}</a>
                {% else %}
                    <em>No users found</em>
                {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class="wrapper">

        <div class="sidebar p-2 bg-light overflow-auto border-left">
            
            <div class="sidebar-heading m-3 border-bottom">
                <div class="row">
                    <div class="col-8">
                        <h2>Messages</h2>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#conversation-start-modal"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="messages-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

            <div>
                <ul id="chatsList" class="list-unstyled components">

                    <li class="my-3 py-1 border-top border-bottom">
                        <div class="message-container container">
                            

                            {% for conversation in conversations_with_all %}
                                <div conversation_id="{{ conversation.id|e }}" id="conversation-block-{{ conversation.id|e }}" class="row conversation-block border border-dark py-3 " >
                                    <div user_id="{{ conversation.account_id|e }}" class="col-12">
                                        <h5>{{ conversation.name|e }}</h5>
                                    </div>
                                    <div class="col-12">
                                        <p class="conversation-text">
                                            {% if conversation.highlight_message %}
                                                {{ conversation.highlight_message|e }}
                                            {% else %}
                                                <b>Send your first message!</b>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-8">
                                        <small class="conversation-time">
                                            {% if conversation.highlight_message_date %}
                                                {{ conversation.highlight_message_date|e }}
                                            {% endif %}
                                        </small>
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-warning"><i class="fas fa-star"></i></span>
                                    </div>
                                </div>
                            {% else %}
                                <em>No current conversations</em>
                            {% endfor %}
                            
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="content card rounded-0">
            <!-- <div class="card-header bg-light">
                <p>stuff</p>
            </div> -->

            <div class="card-body container-fluid scroll-view" id="messages-holder">

                {% for message in messages_of_top_conversation %}
                {% if message.is_me %}
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="message bg-primary border rounded-top rounded-left mb-3 mr-3 p-3 text-light">
                {% else %}
                    <div class="d-flex justify-content-begin align-items-center">
                        <div class="message bg-light border border-dark rounded-top rounded-right mb-3 ml-3 p-3">
                {% endif %}
                    
                            <h6>{{ message.name|e }}</h6>
                            <div>{{ message.text|e }}</div>
                            <small>{{ message.time|e }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="card-footer bg-light">
                <div class="input-group">
                    <input type="text" class="form-control mr-3 rounded" placeholder="Message..." id="message-content">
                    <div class="input-group-append my-auto">
                        <button class="btn btn-ico btn-outline-primary rounded-circle" id="message-send">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </body>

  <script>
    let myUserID = {{ uid }};
    let current_conversation_id = {% if conversations_with_all %}{{conversations_with_all[0]["id"]|e}}{% else %}-1{% endif %};
    </script>

    <script src="/messages.js"></script>
    <script src="/room-logic.js"></script>
</html>