<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Messages</title>

    <!-- Bootstrap CSS and fa-icon -->
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="/include/fontawesome/css/all.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="/messages.css" >
    
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/include/jquery.min.js"></script>
    <script src="/include/bootstrap.js"></script>
    <script src="/include/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    
    <script src="/messages.js"></script>
    <script src="/room-logic.js"></script>


    <title>&#127345;iazza</title>
  </head>
  <body>

    <!-- Modal for creating a new conversation-->

    <div class="modal" tabindex="-1" role="dialog" id="conversation-start-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Select a person to start a private conversation with them. The person must have a <b>Biazza Account</b>.</p>
                <div class="list-group">
                {% for user in potential_conversation_users %}
                    <a user_id="{{ user.id|e }}" class="list-group-item list-group-item-action text-center conversation-start-user">{{ user.first_name|e }} {{ user.last_name|e }}</a>
                {% else %}
                    <em>No users found</em>
                {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class="wrapper">

        <div class="sidebar p-2 bg-light overflow-auto border-left">
            
            <div class="sidebar-heading m-3 border-bottom">
                <div class="row">
                    <div class="col-8">
                        <h2>Messages</h2>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#conversation-start-modal"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="messages-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

            <div>
                <ul id="chatsList" class="list-unstyled components">

                    <li class="my-3 py-1 border-top border-bottom">
                        <div class="message-container container">
                            

                            {% for conversation in conversations_with_all %}
                                <div conversation_id="{{ conversation[0].id|e }}" class="row conversation-block">
                                    <div user_id="{{ conversation[1]|e }}" class="col-12">
                                        <h5>{{ conversation[2]|e }} {{ conversation[3]|e }}</h5>
                                    </div>
                                    <div class="col-12">
                                        <p>{{ messages_of_top_conversations[-1][2]|e }}</p>
                                    </div>
                                    <div class="col-12">
                                        <small>{{ messages_of_top_conversations[-1][3]|e }}</small>
                                    </div>
                                    <a href="#" class="stretched-link"></a>
                                </div>
                            {% else %}
                                <em>No current conversations</em>
                            {% endfor %}
                            
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="content card rounded-0">
            <!-- <div class="card-header bg-light">
                <p>stuff</p>
            </div> -->

            <div class="card-body container scroll-view">

                {% for message in messages_of_top_conversations %}
                {% if message[1] %}
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="message bg-primary border rounded-top rounded-left mb-3 p-3 text-light">
                {% else %}
                    <div class="d-flex justify-content-begin align-items-center">
                        <div class="message bg-light border border-dark rounded-top rounded-right mb-3 p-3">
                {% endif %}
                    
                            <h6>{{ message[4]|e }} {{ message[5]|e }}</h6>
                            <div>{{ message[2]|e }}</div>
                            <small>{{ message[3]|e }}</small>
                        </div>
                    </div>
                {% else %}
                    <em>No messages! Send your first one by typing below!</em>
                {% endfor %}
            </div>

            <div class="card-footer bg-light">
                <div class="input-group">
                    <input type="text" class="form-control mr-3 rounded" placeholder="Message..." id="message-content">
                    <div class="input-group-append my-auto">
                        <button class="btn btn-ico btn-outline-primary rounded-circle" id="message-send">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </body>
</html>