<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Questions</title>
    <!-- Bootstrap CSS and fa-icon -->
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="/include/fontawesome/css/all.css">
    <script src="/include/popper.min.js"></script>
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="/questions.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>


</head>

<body>
    <div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload a File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="fileInp">Your file</label>
                            <input type="file" class="form-control-file" id="fileInp">
                        </div>
                    </form>
                    <p id="fileUploadMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="fileUploadButton">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newQuestionModal" tabindex="-1" role="dialog" aria-labelledby="newQuestionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/home/questions" method="POST" id="postQuestion" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Post a new question to the class</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="questions-msg"></p>
                        <div class="form-group">
                            <input type="text" id="title-input" name="title-input" class="form-control mb-3" placeholder="Title">
                            <textarea id="question-input" name="question-input" class="form-control" placeholder="Question?"></textarea>

                            <!-- We will need to suppor uploading of files as well -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <aside class="sidebar list-container col-3">
                <nav class="questions-controls navbar navbar-dark bg-dark">
                    <span class="navbar-brand mb-0 h1">Questions</span>
                    <form action="#" class="form-inline">
                        <input class="form-control mr-sm-2 mb-1" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 mb-1" type="submit">Search</button>
                    </form>

                    <div class="my-1">
                        <div class="dropdown mb-1">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter Questions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">All Questions</a>
                                <a class="dropdown-item" href="#">Friend History</a>
                                <a class="dropdown-item" href="#">My Questions</a>
                            </div>
                        </div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#newQuestionModal">Post a
                            question</button>
                    </div>

                </nav>
                <div class="question-list list-group " id="questionsPane" role="tablist">
                    <!-- <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">What is a square
                        root?</a>
                    <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab">Civil War
                        Start Date</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Has anyone seen my
                        fidget spinner?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a> -->

                    {% for question in questions %}
                        {% if loop.index == 1 %}
                        <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab" id="{{question.id}}">{{question.title}}</a>
                        {% else %}
                        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" id="{{question.id}}">{{question.title}}</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </aside>


            <section class='col-9 card h-100 selected-question'>

                <div id='question-thread' class="card-body container scroll-view">
                    {% if top_question %}

                    <div class="jumbotron jumbotron-fluid  p-3" id='question'>
                        <h1 class="display-4">{{ top_question.title }}</h1>
                        <p class="lead">Submitted by {{ top_question.user_name }}</p>
                        <p class="lead">Date: 3/9/2020</p>
                        <hr class="">
                        <p>{{ top_question.content }}</p>
                    </div>

                    {% endif %}

                    {% for comment in comments %}
                    <div class='my-comment bg-light text-dark' id="comment-{{ comment.id }}">
                        <h4>Me</h4>
                        <p class='comment-content'>
                            {{ comment.text }}
                        </p>
                        <div>
                            {% for attachment in comment.all_attachments %}
                            <a href='{{attachment.path}}' target='_blank'>
                                {{attachment.user_filename}}
                            </a>
                            {% endfor %}
                        </div>
                        <div class='comment-footer'>
                            <button class='btn btn-primary float-right mx-2 like'>
                                <!-- added updateCount as a class and count as a class -->
                                <i class='fa fa-thumbs-up'></i>
                                <span class='badge badge-light'>{{ comment.likes }}</span>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="card-footer" id="comment-form">
                    <form action="/home/questions/comments" method="POST" id="add-comment"
                        enctype="multipart/form-data">
                        <!-- <div class="btn-group dropleft float-right">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#fileUploadModal"><i class="fas fa-upload"></i>Upload a file</a>
                        </div>
                    </div> -->
                        <div class="form-group">
                            <label for="comment-string">Send a response back</label>
                            <!-- <div contenteditable="true" class="form-control" id="comment-string" name="comment-string" height></div> -->
                            <textarea class="form-control comment-ta" id="comment-string" rows="3"
                                name="comment-string"></textarea>
                        </div>
                        <label for="attachments-input">Add attachments:</label>
                        <input type="file" id="attachments-input" name="attachments-input" multiple>
                        <button type="submit" class="btn btn-primary float-right">Send</button>
                    </form>
                </div>

            </section>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/include/jquery.min.js"></script>
    <script src="/include/bootstrap.js"></script>
    <script src="/include/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/questions.js"></script>
    <!-- <script src="/socket_stuff.js"></script> -->
</body>

</html>