<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Questions</title>
    <!-- Bootstrap CSS and fa-icon -->
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="/include/fontawesome/css/all.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="/questions.css">

    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="sidebar list-container col-3">
                <nav class="navbar navbar-dark bg-dark">
                    <span class="navbar-brand mb-0 h1">Questions</span>
                    <form action="#" class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">All Questions</a>
                            <a class="dropdown-item" href="#">My Questions</a>
                            <a class="dropdown-item" href="#">U.S. History</a>
                            <a class="dropdown-item" href="#">Algebra</a>
                          </div>
                    </div>
                </nav>
                <div class="question-list list-group " role="tablist">
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">What is a square root?</a>
                    <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab">Civil War Start Date</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Has anyone seen my fidget spinner?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">Question?</a>
                </div>
            </aside>
            
        
            <section class='col-9 card selected-question'>
                <div class="jumbotron jumbotron-fluid card-header p-3" id='question'>
                    <div class='comment-footer'>
                        <button class="btn btn-primary float-right mx-2">
                            <i class="fa fa-thumbs-up"></i>
                            <span class="badge badge-light">4</span>
                        </button>
                        <button class="btn btn-primary float-right mx-2">
                            <i class="fa fa-star"></i>
                            <span class="badge badge-light">3</span>
                        </button>
                    </div>
                    <h1 class="display-4">Civil War Start Date</h1>
                    <p class="lead">Submitted by Brian</p>
                    <p class="lead">Date: 3/9/2020</p>
                    <hr class="">
                    <p>
                        I was just wondering when the Civil War officially started
                    </p>
                </div>
                <div id='question-thread' class="card-body">
                    <div class='other-comment bg-dark text-white'>
                        <h4>Ms. McLearn</h4>
                        <p class='comment-content'>
                            It started on April 12, 1861
                        </p>
                        <div class='comment-footer'>
                            <button class='btn btn-primary float-right mx-2'>
                                <i class='fa fa-thumbs-up'></i>
                                <span class='badge badge-light'>4</span>
                            </button>
                            <button class='btn btn-primary float-right mx-2'>
                                <i class='fa fa-star'></i>
                                <span class='badge badge-light'>3</span>
                            </button>
                        </div>
                    </div>
                    <div class='my-comment bg-light text-dark'>
                        <h4>Brian</h4>
                        <p>
                            Wow, that is my birthday! Thank you.
                        </p>
                        <div class='comment-footer'>
                            <button class="btn btn-primary float-right mx-2">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="badge badge-light">4</span>
                            </button>
                            <button class="btn btn-primary float-right mx-2">
                                <i class="fa fa-star"></i>
                                <span class="badge badge-light">3</span>
                            </button>
                        </div>
                    </div>
                    <div class='other-comment bg-dark text-white'>
                        <h4>Susie</h4>
                        <p class='comment-content'>
                            Omg, lets have a birthday party for Kyle.
                        </p>
                        <div class='comment-footer'>
                            <button class="btn btn-primary float-right mx-2">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="badge badge-light">4</span>
                            </button>
                            <button class="btn btn-primary float-right mx-2">
                                <i class="fa fa-star"></i>
                                <span class="badge badge-light">3</span>
                            </button>
                        </div>
                    </div>
                    <div class='other-comment bg-dark text-white'>
                        <h4>Ms. McLearn</h4>
                        <p class='comment-content'>
                            Good idea Susie, we will do that.
                        </p>
                        <div class='comment-footer'>
                            <button class="btn btn-primary float-right mx-2">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="badge badge-light">4</span>
                            </button>
                            <button class="btn btn-primary float-right mx-2">
                                <i class="fa fa-star"></i>
                                <span class="badge badge-light">3</span>
                            </button>
                        </div>
                    </div>
                </div>
                <form action="" id="add-comment" class="card-footer">
                    <div class="form-group">
                        <label for="comment-string">Send a response back</label>
                        <textarea class="form-control" id="comment-string" rows="3" name="comment-string"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Send</button>
                </form>
            </section>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/include/jquery.min.js"></script>
    <script src="/include/bootstrap.js"></script>
    <script src="/include/popper.min.js"></script>
    <script src="/questions.js"></script>
</body>
</html>