/* #contentContainer {
    height: 80vh;
    flex: 1;
} */

iframe {
    height: 100%;
    width: 100%;
    border: none;
}


html, body {
    height: 100vh;
}

.fill {
    height: 100%;
}

a.iframe-sel{
    cursor: pointer;
}