@media (min-width: 1200px){
    .sidebar {
        width: 400px;
    }
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    min-height: 100vh;
    max-height: 100vh;
    /* overflow-y: auto; */
}

.badge{
    display: none;
}



.content {
    width: inherit;
    max-height: 100vh;
}

.message-container {
    transform: rotate(0);
}

.message-box {
    resize: none;
    transition: .2s;
}

.conversation-block{
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.conversation-block.flashing{
    background-color: rgb(250, 250, 151);
}

.message {
    max-width: 50%;
}

.scroll-view {
    overflow-y: auto;
    max-height: 100vh;
}

.btn-ico {
    padding: 0px;
    height: 36px;
    width: 36px;
    text-align: center;
}


