.question-list{
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    overflow-x: hidden;
}


nav.navbar{
    /* height: 20vh; */
}

body, html{
    min-height: 100vh;
    max-height: 100vh;
}

.sidebar {
    min-height: 100vh;
    max-height: 100vh;
}

.other-comment{
    float: right;
}

.my-comment{
    float: left;
}

.form-control {
    overflow: auto;
}

.other-comment, .my-comment{
    display: inline-block;
    clear: both;
    padding: 10px;
    margin: 10px 0;
    min-width: 25%;
}

#question{
    height: fit-content;
}

.selected-question{
    max-height: 100vh;
    height: 100vh;
}

#question-thread{
    height: 40vh;
    /* max-height: 100vh; */
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    overflow-x: hidden;
}

#add-comment{
    max-height: 20vh;
}


.card-footer{
    height: fit-content;
}

.card {
    min-height: 100vh;
    height: 100vh;
}


.questions-controls{
    height: fit-content;
}

.container-fluid{
    max-height: inherit;
}

aside {
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

#questionsPane {
    /* max-height: inherit; */
    flex-grow: 1;
}

.comment-ta {
    resize: none;
}


button.liked {
    opacity: .65 !important;
}